body {
  margin:0;
  padding:0;
  background-color: #CC796C;
  color: #ffffff;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5em;
  
}
h1 {
  color: black;
  margin-left: 20px;
  font-size:58px;
  text-align:center;
}
h2 {
    color: #7F4C43;
    text-align:center;
    font-size: 38px;
    text-decoration: underline;
}
p {
  margin: 25px 50px 75px 100px;
}
a:link{
    text-align: center;
    color: white;
    
}
a:visited{
    text-align: center;
    color: black;
}
a:hover{
    color: blue;
}
ul{
    border-style: dotted;
}
table{
    border-style: solid;
    border-color: white;
    
}
.header_pic{
    height: 400px;
    opacity: 0.1;
}
#container{
    width: 900px;
    margin: 0 auto;
    border: 1px solid #fff;
    background-color: #EB8B50;
    overflow:hidden;
    padding-left:40px;
    padding-right:40px;
}
#sidebar{
    width:300px;
    background-color: #CC796C;
    padding: 5px;
    border: 1px solid white;
}
